<a href="https://colab.research.google.com/github/CashaEl/Data-Analysis-with-Open-Source/blob/main/Third_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#data = [100, 200, 300, 400, 500]
#a, *b, c = data
#print(a,b,c)

rgb = [255, 128, 0]
red, green, blue = rgb
print(f"빨강:{red}, 초록:{green}, 파랑:{blue}")
word = "ABC"
fi, se, th = word
print(f"첫번째 문자: {fi}, 두번째 문자: {se}, 세번째 문자:{th}")
print()

monthly_sales = [1200, 1350, 1420, 1500, 1300, 1580, 1620, 1700, 1800, 1850, 1900, 2000]
first, *middle, last = monthly_sales
print(f"첫 달(1월) 판매액:{first}")
print(f"마지막 달(12월) 판매액:{last}")
print(f"중간 달(2~11월)의 판매액: {middle}")

빨강:255, 초록:128, 파랑:0
첫번째 문자: A, 두번째 문자: B, 세번째 문자:C

첫 달(1월) 판매액:1200
마지막 달(12월) 판매액:2000
중간 달(2~11월)의 판매액: [1350, 1420, 1500, 1300, 1580, 1620, 1700, 1800, 1850, 1900]

In [13]:
for _ in range(5):
    print("Hello, Data Analysis with Open Source!")
print()
students = [
    (20251234, "김철수", "컴퓨터과학", 2, 3.8),
    (20265678, "이영희", "생활과학부", 3, 4.2),
    (20243456, "박민수", "사회복지학과", 1, 3.5)
]
print("이름과 성적 출력:")
for stn, name, dept, year, grade in students:
    print(f"{name}의 성적: {grade}")

Hello, Data Analysis with Open Source!
Hello, Data Analysis with Open Source!
Hello, Data Analysis with Open Source!
Hello, Data Analysis with Open Source!
Hello, Data Analysis with Open Source!

이름과 성적 출력:
김철수의 성적: 3.8
이영희의 성적: 4.2
박민수의 성적: 3.5

In [14]:
try:
    number = int(input("숫자를 입력하세요: "))
    result = 10 / number
except ZeroDivisionError:
    print("0으로 나눌 수 없습니다.")
except ValueError:
    print("문자를 입력할 수 없습니다.")
else:
    print(f"10을 {number}로 나누면 몫은 {result}입니다.")

숫자를 입력하세요: 2
10을 2로 나누면 몫은 5.0입니다.

In [17]:
try:
    file = open("data.csv", "r")
    content = file.read()
    print(content)
except FileNotFoundError:
    print("파일을 찾을 수 없습니다.")
finally:
    print("파일 작업 종료.")
    file.close()

파일 작업 종료.

In [25]:
def add(x):
    return x + 2
print(add(3))

add_lambda = lambda x: x + 2
print(add_lambda(3))

employees = {"이지혜": 3000000, "구민준": 5000000, "방서연":4100000}
adjust_salary = lambda salary: int(salary * 1.1)
updated_salaries = {name: adjust_salary(salary) for name, salary in employees.items()}

for name, salary in updated_salaries.items():
    print(f"{name}: {salary:,}원")

5
5
이지혜: 3,300,000원
구민준: 5,500,000원
방서연: 4,510,000원